/* Blue: #002E66
   Lighter Blue: #5891D6
   
*/

/* Global CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;   
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 15px;
    clip-path:  polygon(0 0, 100% 0%, 100% 94%, 0% 73vh);
}

/* Global CSS */


/* Class CSS */

.header {
    height: 95vh;
    background-image: 
        linear-gradient(145deg, rgba(205,46,58,0.6) 36%, rgba(0,71,160,0.6) 76%), 
        url(/imgs/sk-city.png);    /* Photo by Sunyu Kim */
        
         
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.sk-logo {
    height: 50px;
    filter: invert();
    margin-top: -15px;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}

.primary-heading {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%)
}

.primary-heading-top, .primary-heading-bottom, .secondary-heading {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 15px;
    text-align: center;
    opacity: 0.95;
    animation-name: leftIn;
    animation-duration: 750ms;
    animation-timing-function: ease-out;
}

.secondary-heading {
    font-size: 20px;
    white-space: nowrap;
}

/* Animations */
@keyframes leftIn {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }

    100% {
        opacity: .95;
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}